*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  transition: 0.3s;
}
html,
body {
  scroll-behavior: smooth;
  height: 1vh;
  line-height: 1;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
ul, 
ol, 
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
img {
  vertical-align: top;
}

body {
  position: relative;
  width: 100%;
  background-color: blueviolet;
}

.wrapper {
    width: 95%;
    height: 95%;
    margin: 2.5% auto;
    background-color: darkgrey;
}

.container {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    background-color: floralwhite;
    flex-direction: column;
}

.img-content {
    width: 100%;
    min-height: 20rem;
    background-color: gold;
}

.container-content {
    width: 100%;
    min-height: 10rem;
    background-color: lightgreen;
    display: flex;
    justify-content: space-between;
}

.capture {
    height: 100%;
    min-width: 15rem;
    min-height: 3rem;
    background-color: silver;
}

.control-block {
    display: flex;
    height: 100%;
    min-height: 3rem;
    min-width: 15rem;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: sienna;
}

.control-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 10rem;
    min-height: 1.5rem;
    background-color: rosybrown;
}

.control-item {
    width: 1.5rem;
    height: 1.5rem;
    background-color: mediumaquamarine;
}